In [23]:
import pandas as pd

In [24]:
candy=pd.read_csv(r'/home/shawkyy/Downloads/candyhierarchy2017.csv')

In [25]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [26]:
candy['Unnamed: 113']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2455    NaN
2456    NaN
2457    NaN
2458    NaN
2459    NaN
Name: Unnamed: 113, Length: 2460, dtype: object

In [27]:
candy=candy.drop(['Unnamed: 113'],axis=1)

In [28]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [29]:
candy.isnull()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,True,True,False
2,False,True,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,True,True,True,True
2456,False,False,False,False,False,False,False,False,False,True,...,True,False,True,False,False,True,False,True,True,False
2457,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,True,False,True,True,False
2458,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2459,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,True,True,True,False

In [30]:
candy.groupby('Q1: GOING OUT?').count()

,Internal ID,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q1: GOING OUT?,,,,,,,,,,,,,,,,,,,,,
No,2038,2025,1990,2008,1975,1422,1440,1486,1244,1225,...,760,591,322,1428,1443,67,1145,80,54,1338
Yes,312,311,303,305,301,230,228,239,203,193,...,124,107,54,229,233,17,172,18,7,214

In [31]:
candy.drop([0])

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Mounds,Fruit Stripe Gum,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,NaN,Capers,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,Tiny bottles of maple syrup as given out by Cr...,NaN,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,NaN,"You hit all my chocolate highlights, and broug...",White and gold,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

In [32]:
candy.groupby('Q2: GENDER').count()

,Internal ID,Q1: GOING OUT?,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q2: GENDER,,,,,,,,,,,,,,,,,,,,,
Female,839,825,828,835,826,583,591,613,500,486,...,343,272,139,591,594,53,472,15,9,551
I'd rather not say,83,78,71,73,72,60,61,61,51,50,...,37,28,27,56,54,0,44,1,5,50
Male,1467,1404,1440,1449,1426,1041,1040,1078,927,909,...,511,399,210,1036,1054,30,818,81,52,971
Other,30,29,30,30,29,22,25,26,17,18,...,17,16,9,24,24,0,23,0,1,24

In [33]:
candy.fillna(0)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,0,Bottom line is Twix is really the only candy w...,White and gold,Sunday,0.0,1.0,0.0,0.0,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,0,White and gold,Friday,0.0,1.0,0.0,0.0,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Mounds,Fruit Stripe Gum,0,White and gold,Friday,0.0,0.0,0.0,0.0,0
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,0,...,0,Capers,0,Blue and black,Friday,0.0,1.0,0.0,0.0,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,Tiny bottles of maple syrup as given out by Cr...,0,0,Blue and black,Friday,0.0,1.0,0.0,0.0,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,0,0,"You hit all my chocolate highlights, and broug...",White and gold,Sunday,1.0,0.0,0.0,0.0,"(19, 26)"

In [34]:
candy=candy.drop([0])

In [35]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"

In [36]:
candy=candy.fillna(0)

In [37]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,0,Bottom line is Twix is really the only candy w...,White and gold,Sunday,0.0,1.0,0.0,0.0,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,0,White and gold,Friday,0.0,1.0,0.0,0.0,"(70, 10)"
5,90272852,No,Male,0,0,0,JOY,DESPAIR,JOY,0,...,0,0,0,0,0,0.0,1.0,0.0,0.0,"(75, 23)"

In [38]:
candy=candy.drop([1])

In [39]:
#candy['Q3: AGE']=candy['Q3: AGE'].astype('int')

In [40]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,0,White and gold,Friday,0.0,1.0,0.0,0.0,"(70, 10)"
5,90272852,No,Male,0,0,0,JOY,DESPAIR,JOY,0,...,0,0,0,0,0,0.0,1.0,0.0,0.0,"(75, 23)"
6,90272853,No,Male,53,usa,Colorado,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0

In [44]:
candy=candy.drop([2])

In [45]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,0,White and gold,Friday,0.0,1.0,0.0,0.0,"(70, 10)"
5,90272852,No,Male,0,0,0,JOY,DESPAIR,JOY,0,...,0,0,0,0,0,0.0,1.0,0.0,0.0,"(75, 23)"
6,90272853,No,Male,53,usa,Colorado,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,using my elbows to get in front of the little ...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,Friday,0.0,1.0,0.0,0.0,"(55, 5)"

In [46]:
candy=candy.drop([6])

In [48]:
candy.groupby('Q12: MEDIA [Yahoo]').count()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],"Click Coordinates (x, y)"
Q12: MEDIA [Yahoo],,,,,,,,,,,,,,,,,,,,,
0.0,2389,2389,2389,2389,2389,2389,2389,2389,2389,2389,...,2389,2389,2389,2389,2389,2389,2389,2389,2389,2389
1.0,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67

In [49]:
candy=candy.drop(['Q12: MEDIA [Yahoo]'],axis=1)

In [50]:
candy.groupby('Q12: MEDIA [ESPN]').count()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],"Click Coordinates (x, y)"
Q12: MEDIA [ESPN],,,,,,,,,,,,,,,,,,,,,
0.0,2357,2357,2357,2357,2357,2357,2357,2357,2357,2357,...,2357,2357,2357,2357,2357,2357,2357,2357,2357,2357
1.0,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99

In [51]:
candy=candy.drop(['Q12: MEDIA [ESPN]'],axis=1)

In [52]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],"Click Coordinates (x, y)"
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,0.0,1.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,0,0,0,White and gold,Friday,0.0,1.0,"(70, 10)"
5,90272852,No,Male,0,0,0,JOY,DESPAIR,JOY,0,...,DESPAIR,JOY,0,0,0,0,0,0.0,1.0,"(75, 23)"
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,DESPAIR,using my elbows to get in front of the little ...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,Friday,0.0,1.0,"(55, 5)"
8,90272858,No,Male,40,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,0,0,0,Blue and black,Sunday,0.0,1.0,"(76, 24)"

In [53]:
candy.groupby('Q12: MEDIA [Daily Dish]').count()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Science],"Click Coordinates (x, y)"
Q12: MEDIA [Daily Dish],,,,,,,,,,,,,,,,,,,,,
0.0,2371,2371,2371,2371,2371,2371,2371,2371,2371,2371,...,2371,2371,2371,2371,2371,2371,2371,2371,2371,2371
1.0,85,85,85,85,85,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85

In [54]:
candy=candy.drop(['Q12: MEDIA [Daily Dish]'],axis=1)

In [55]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Science],"Click Coordinates (x, y)"
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,DESPAIR,"Reese's crispy crunchy bars, 5th avenue bars, ...",0,Raisins can go to hell,White and gold,Sunday,1.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,DESPAIR,JOY,0,0,0,White and gold,Friday,1.0,"(70, 10)"
5,90272852,No,Male,0,0,0,JOY,DESPAIR,JOY,0,...,DESPAIR,DESPAIR,JOY,0,0,0,0,0,1.0,"(75, 23)"
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,DESPAIR,DESPAIR,using my elbows to get in front of the little ...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,Friday,1.0,"(55, 5)"
8,90272858,No,Male,40,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,DESPAIR,0,0,0,Blue and black,Sunday,1.0,"(76, 24)"